extends layout

block content
  h1 Title: #{book.title}

  if books_bookinstances.length

    p #[strong Delete the following book instances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Books Intances

      dl
      each book in books_bookinstances
        p #[strong Imprint:] #{book.imprint}
        p #[strong Id:]
          a(href=book.url) #{book._id}

  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#authorid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
